@font-face {
    font-family: roman;
    src: url('./assets/Roman\ SD.ttf');
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

.monts {
    font-family: 'Montserrat', sans-serif;
}

.monospace {
    font-family: monospace;
}

.roman {
    font-family: roman;
}

.poppins {
    font-family: 'Poppins';
}

.circle {
    border-radius: 50%;
}

.centered-abs-x {
    position: absolute;
    left: 35%;
    /*  right: 30%; */
    /* transform: translate(-50,-50%); */
}

:root {
    --marquee-padding: 0px;
    --marquee-padding-negative: calc(var(--marquee-padding) * -1);
}

body {
    margin: 0px;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    padding: 5px 0;
    background-color: #b1cda1;
}

.marquee .marquee_text {
    display: inline-block;
    /* padding-left: 100%; */
    animation: marquee 30s linear infinite;
    /* animation: marquee_flip 26s linear infinite;  For left to right */
}

.marquee .marquee_text ul {
    display: inline-flex;
    font-size: 14px;
    text-transform: uppercase;
    list-style-position: inside;

}

.marquee .marquee_text ul.marquee-content-primary {
    padding-left: 0px;
}

.marquee .marquee_text ul>li {
    padding-inline: 15px;
}

.marquee-content-secondary {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: var(--marquee-padding);
}

@keyframes marquee {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translateZ(0)
    }

    to {
        -webkit-transform: translate3d(var(--marquee-padding-negative), 0, 0);
        transform: translate3d(var(--marquee-padding-negative), 0, 0)
    }
}


.menu {
    /* --menu-height: 40px; */
    box-sizing: border-box;
    /* position: fixed;
    top: 0;
    left: 0; */
    /* width: 100vw; */
  }
  .menu ul {
    list-style: none;
    padding: 16px;
    margin: 0;
  }
  .menu ul li, .menu ul li a {
    opacity: 1;
    color: #ffffff;
    cursor: pointer;
    transition: 200ms;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700;
  }
  .menu ul li:hover, .menu ul li a:hover {
    opacity: 1;
  }
  .menu ul li a, .menu ul li a a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .menu ul li {
    padding-right: 36px;
  }
  .menu ul .drop::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFA500;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
  .menu ul .link::before {
    padding-right: 0;
    display: none;
  }
  .menu > ul {
    display: flex;
    height: var(--menu-height);
    align-items: center;
    background-color: #000000;
  }
  .menu > ul li {
    position: relative;
    margin: 0 8px;
  }
  .menu > ul li ul {
    visibility: hidden;
    opacity: 0;
    padding: 0;
    min-width: 160px;
    background-color: #333;
    position: absolute;
    top: calc(var(--menu-height) + 5px);
    left: 50%;
    transform: translateX(-50%);
    transition: 200ms;
    transition-delay: 200ms;
  }
  .menu > ul li ul li {
    margin: 0;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    padding-right: 40px;
  }
  .menu > ul li ul li::before {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #FFA500;
  }
  .menu > ul li ul li ul {
    top: -2%;
    left: 100%;
    transform: translate(0);
  }
  .menu > ul li ul li:hover {
    background-color: #000000;
  }
  .menu > ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    transition-delay: 0ms;
  }